<h1>Donations made by Users from my Company</h1>

<h2>
  Company: <%= @my_company.name %>
</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Charity</th>
      <th>Total Amount</th>
    </tr>
  </thead>
  <tbody>
<% @charities.each do |rec| %>
  <tr>
    <td><%= rec[:charity].name %></td>
    <td><%= rec[:total] %></td>
  </tr>
<% end %>
  </tbody>
</table>
