
<div style="float: right;margin:1em;">
  <%= link_to 'React Dashboard', dashboard_path %>
</div>

<h1>Charities App</h1>

<form id="form-select-date" action="<%= charities_path %>">
  <h3>Select Date</h3>
  <div class="form-group">
    <input type="text" name="date" value="<%= format_date(@today) %>"/>
  </div>
  <button class="btn btn-success">
    <span>Set Date</span>&nbsp;<span
    class="glyphicon glyphicon-ok" aria-hidden="true"></span>
  </button>
</form>

<script>
  $('input[name=date]').datepicker({
    format: 'yyyy-mm-dd'
  });
</script>
