<h1>Donations History</h1>

<% @donations_by_company.each do |charity| %>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 impact-by-charity">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 impact-by-charity-left">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 icons">
        <%= charity.name %>
        <div class="glyphicon glyphicon-link"></div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 impact-charity-logo">
        Charity Logo
      </div>
      <p class="col-lg-7 col-md-7 col-sm-7 col-xs-7 impact-charity-name"><%= charity.name %></p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 impact-by-charity-right">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 donate-by-me">
        <h2>$<%= @donations_by_user[charity.id].to_i %></h2>
        <h6>donated by <strong>me</strong></h6>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 donate-by-company">
        <h2>$<%= charity.total %></h2>
        <h6>donated by <strong><%= current_user.email %></strong></h6>
      </div>
    </div>
  </div>
<% end %>
