<%= form_for(@invitation) do |f| %>

  <div id="email-rows">
    <% @invitation.emails.each do |email| %>
      <div class="email-row">
        <input type="text" name="invitation[emails][]" value="<%= email %>"/>
      </div>
    <% end %>
  </div>

  <a href="#" class="link-add-more">Add Another</a>

  <%= f.submit %>

<% end %>

<script>
$('.link-add-more').on('click', function() {
  var lastRow = $('.email-row').last();
  var newRow = lastRow.clone();
  $('input', newRow).val('');
  $('#email-rows').append(newRow);
  return false;
});
</script>
