<h1>Charities</h1>

<ul class="list-charities">
<% @charities.each do |charity| %>
  <% cache [ charity, charity.donations.count ] do %>
    <li class="c">
      <div class="box">
        <div class="content">
          <h4><%= charity.name %></h4>
          <%= link_to 'Donate', charity_donations_path(charity, @additional_params),
                      method: 'post', class: 'btn btn-success' %>
          <div>
            # of donations:
            <%= charity.donations.count %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
<% end %>
</ul>

