// Place all the styles related to the charities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.list-charities {
  list-style-type: none;
  padding-left: 0;
  overflow: hidden;

  li {
    float: left;
    width: 25%;

    div.box {
      border: 1px solid black;
      margin: 10px;
      div.content {
        margin: 10px;
        text-align: center;
      }
    }
  }
}
