table.table {
  width: 100%;
}

table.table td {
  padding: 3px 5px;
}

table.table-bordered {
  border-collapse: collapse;
}

table.table-bordered td, table.table-bordered th {
  border: 1px solid #c0c0c0;
}
