<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Charities Dashboard</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="https://npmcdn.com/react@15.3.0/dist/react.js"></script>
    <script src="https://npmcdn.com/react-dom@15.3.0/dist/react-dom.js"></script>
    <script src="https://npmcdn.com/babel-core@5.8.38/browser.min.js"></script>
    <script src="https://npmcdn.com/remarkable@1.6.2/dist/remarkable.min.js"></script>
    <script src="https://npmcdn.com/react-router/umd/ReactRouter.min.js"></script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container-fluid">
      <a href="/">Go Back to Welcome page</a>
      <div id="content"></div>
      <script type="text/babel" src="/app.jsx"></script>
    </div>
  </body>
</html>
